services:
  postgres:
    image: postgres:16
    container_name: pg_hirelog
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      TZ: ${TZ}

    ports:
      - '5432:5432'

    volumes:
      - ./data:/var/lib/postgresql/data

  redis:
    image: redis/redis-stack-server:7.2.0
    container_name: redis_hirelog
    restart: unless-stopped

    environment:
      TZ: Asia/Seoul

    ports:
      - '6379:6379' # Redis core
      # - '8001:8001' # RedisInsight UI

    volumes:
      - ./redis_data:/data
