spring:
  application:
    name: hirelog

  config:
    import: optional:file:.env[.properties]

  datasource:
    url: jdbc:postgresql://localhost:5432/hirelog
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        show_sql: false

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 3s

gemini:
  api-key: ${GEMINI_API_KEY}
  model: gemini-2.5-flash-lite
  timeout-ms: 10000

logging:
  level:
    root: INFO
    org.hibernate.SQL: DEBUG

server:
  servlet:
    context-path: /api
