spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/hirelog
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  flyway:
    enabled: true
    baseline-on-migrate: true
    validate-on-migrate: true
    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: validate     # ⭐ 핵심
    properties:
      hibernate:
        format_sql: true
        show_sql: false

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 3s

opensearch:
  host: localhost
  port: 9200
  scheme: https
  username: admin
  password: ${OPENSEARCH_PASSWORD}

hirelog:
  worker:
    job-summary:
      enabled: true
